<footer class="bg-gradient-to-b from-yellow-300 via-yellow-600 to-yellow-700 p-7 text-white text-md">
    <div class="flex justify-evenly">
        <div >
            <span class="copyright">Copyright &copy; 2022 | My Blog </span>
        </div>
        <div >
            <ul class="flex">
                <li><a href="https://twitter.com/re_ermix" target="_blank" class="hover:text-blue-400"><i class="fa-brands fa-twitter fa-xl mr-1"></i></a>
                </li>
                <li><a href="https://www.facebook.com/er.ermix/" target="_blank" class="hover:text-blue-600"><i class="fa-brands fa-facebook fa-xl mr-1"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/ermich-reda/" target="_blank" class="hover:text-blue-900"><i class="fa-brands fa-linkedin fa-xl mr-1"></i></a>
                </li>
            </ul>
        </div>
        <div >
            <ul class="flex">
                <li class="mr-2">
                    <a href="#" class="hover:underline">Privacy Policy | </a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</footer>