{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center py-16 bg-yellow-300">
    <h1 class="text-5xl font-bold">About</h1>
    <p class="w-3/6 my-5">About the blog!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur cupiditate esse excepturi ipsa iure
        labore mollitia non ratione reiciendis!
        Lorem ipsum dolor sittur inventore ipsam nesciunt non sint ullam veritatis voluptatum? Consequatur
        ex in inventore laboriosam libero nulla quia quos. Adipisci corporis distinctio dolorum eos, error est et
        exercitationem fugiat pariatur quasi quos rerum vitae voluptatibus! Aliquam amet architecto aspernatur aut autem
        beatae, consectetur deleniti dolorem doloremque eaque eius exercitationem facere harum incidunt ipsa ipsum,
        itaque libero maiores maxime modi molestiae neque nesciunt nisi nulla numquam odit optio quas soluta sunt
        temporibus tenetur veritatis voluptatem voluptatum? Doloremque fugit mollitia nostrum recusandae vel? Accusamus
        accusantium adipisci consequatur cupiditate, deserunt distinctio esse est exercitationem facilis fugiat in,
        inventore iusto labore laudantium nihil nostrum porro quae quas quidem sed similique tempore vitae. Esse,
        labore.
    </p>

</div>

{% endblock %}